<% for(var i =0; i < appointment.length; i++){%>
<tr>
    <td><%= i + 1%></td>
    <td><%=appointment[i].pID %></td>
    <td><%=appointment[i].fname + " " + appointment[i].mname + " " + appointment[i].lname %></td>
    <td><%=appointment[i].adate %></td>
    <td><%=appointment[i].atime %></td>
    <td><%=appointment[i].procedure %></td>
    <td><%="0" + appointment[i].p_cnum %></td>
<td>
    <a href="/update-appointment?id=<%=appointment[i]._id%>" class="btn border-shadow">
        <span class="text-gradient"><i class="fa-solid fa-greater-than"></i></span>
    </a>
    <a class="btn delete" data-id=<%=appointment[i]._id%>>
        <span class="text-gradient"><i class="fa-solid fa-x"></i></span>
    </a>
</td>
</tr>
<% } %>