
<!-- include header -->
<%-include('include/_header')%>
<!-- include header -->



    <!-- Main Site --> 
    <main id="site-main">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i>back</a>
        </div>
    </div>
        <div class="container">
            <div class="form-title">
                <h1 class="text-style text-uppercase text-center">Update Patient History</h1>
            </div>
    
        <!-- Add appointment form-->
        <!-- form handling-->
<div class="form-container">
 <form method="POST" id="update_history">
    <div class="new_history">
        <div class="col-two">
            <div class="form-group">
                <label for="transNo" class="text-light">Transaction Number:</label>
                <input type="hidden" name="id" value="<%=history._id%>">
                <input type="number" name="transNo" value="<%=history.transNo%>" required>
            </div>
            <div class="form-group">
                <label for="phdate" class="text-light">Date: </label>
                <input type="date" name="phdate" value="<%=history.phdate %>" required>
            </div>
        </div>
        <div class="col-two">
            <div  class="form-group">
                <label for="toothNo" class="text-light">Tooth Number: </label>
                <input type="text" name="toothNo" value="<%=history.toothNo %>" required>
            </div>
            <div  class="form-group">
                <label for="procedure" class="text-light">Procedure: </label>
                <input type="text" name="procedure" value="<%=history.procedure %>" required>
            </div>
        
        </div>
        <div class="col-one">
            <div  class="form-group">
                <label for="payments" class="text-light">Payments</label>
                <input type="number" name="payments" value="<%=history.payments %>" required>
            </div>
        </div> 
        </div>
        <div class="form-group al-end">
            <button type="submit" class="btn text-style text-uppercase update">Submit</button>
        </div>  
    </form>
</div>
 </div>
    </div>
       </main>
        
        <!-- Main Site --> 
    


<!-- include footer -->
<%-include('include/_footer')%>
<!-- include footer --> 